body {
    background-image: url('../images/bg1.jpeg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: white;
    text-align: center;
    font-family: 'Arial', sans-serif;
}

.container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 3em;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s, transform 0.3s;
}

.button:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

form input[type="file"] {
    margin-bottom: 20px;
}

form button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s, transform 0.3s;
}

form button:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

img {
    margin-top: 20px;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.image {
    background: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 10px;
    transition: transform 0.3s;
}

.image:hover {
    transform: scale(1.05);
}
