<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Welcome to the Image Prediction Project</h1>
        <p>This project uses a deep learning model to predict whether an image is Normal or Adenocarcinoma.</p>
        <a href="{{ url_for('main') }}" class="button">Go to Prediction Page</a>
    </div>
</body>
</html>
