<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="title">Image Prediction</h1>
        <form action="{{ url_for('predict') }}" method="post" enctype="multipart/form-data">
            <input type="file" name="file" accept="image/*">
            <button type="submit" class="button">Upload and Predict</button>
            <br>
            <a href="{{ url_for('home') }}" class="button">Go Back</a>
        </form>
    </div>
</body>
</html>
